input[type=text]
{
   background-color : #FFFF80;
}

input[type=text][jsx_htmlx_is_valid=true]
{
   color : #0000FF;
   background-color : #FFFFFF;
}


input[type=text][jsx_htmlx_is_valid=false]
{
   background-color : #FFC0C0;
}

select
{
   background-color : #FFFF80;
}

select[jsx_htmlx_is_valid=true]
{
   color : #0000FF;
   background-color : #FFFFFF;
}


select[jsx_htmlx_is_valid=false]
{
   background-color : #FFC0C0;
}

summary
{
   cursor : help;
}